[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pytest = "*"
pytest-django = "*"
black = "*"
drf-yasg = "*"
psycopg2 = "*"
psycopg = "*"
django-model-utils = "*"
django-admin-interface = "*"
drf-spectacular = "*"
rest-framework-simplejwt = "*"
djangorestframework-simplejwt = "*"
django-multiselectfield = "*"
sentry-sdk = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.10"
